@import '@fontsource/open-sauce-one/400.css';
@import '@fontsource/open-sauce-one/800.css';

main {
  width: 100%;
  min-height: 100vh;
  text-align: center;

  h1 {
    color: #72035d;
    font-weight: 800;
  }
}

.container {
  padding: 4rem;
}

.no-wrap {
  white-space: nowrap;
}

.event-countdown {
  font-weight: 400;
}

@media (min-width: 720px) {
  .container {
    padding: 4rem 8rem;
  }
}
