/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f3f3;
  font-family: 'Open Sauce One', sans-serif;
}

h1,
h2 {
  all: unset;
}

form {
  width: 278px;
  margin: 32px auto;
}
